/*  your css code here. If applicable */
.mains{
	padding:10px;
	background-color:whitesmoke;
	
}
#testimonials{
	padding:10px;
	background-color:none;
}
.author{
	text-align:right; font-style:italic;
}
#sec2,#sec1{
	border:none;
	background-color:white
}